*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Noto Sans TC';
}

.attCTN{
    display: grid;
    grid-template-rows: repeat(2, max-content);
    justify-content: center;
    align-items: center;
}

.img-CTN{
    height: 40rem;
    padding-left: 1.5rem;
    padding-right: 2rem;
    padding-top: 4rem;
    display: grid;
    grid-template-rows: minmax(36rem, 1fr);
    grid-template-columns: 4fr 5fr; 
    gap: 2.5rem;
    border-radius: 0.5rem;
}

.ImgCTN-img{
    width: 100%;
    height: 40rem;
    position: relative;
    overflow: hidden;
}

.imgSlides{
    width: 100%;
    height: 100%;
    display: flex;
    transform: translateX(0px);
    transition: transform 500ms ease-in-out; 
    border-radius: 0.5rem;
}

/* 使用容器方式，將寬度不足的圖片填滿 */
.img-width-fat{
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 0.5rem; 

    display: flex;
    justify-content: center;
    /* 設定讓寬度跟父容器的寬度一樣寬 */
    flex: 0 0 100%; 
}

.img-width-fat img{
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius:0.5rem;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.sildeBtn{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    top: -22rem;
}

.leftBtn, .rightBtn{
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.7;
}

.slideBar{
    width: 100%;
    height: 0.5rem;
    position: absolute;
    /* 需要設定position為absolute，bottom為0才有用 */
    bottom: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    z-index: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
}

.slide-line{
    background-color: rgba(255, 2555, 255, 0.5);
}

.lineleft-radius{
    border-radius: 0 0 0 0.5rem;
}

.lineright-radius{
    border-radius: 0 0 0.5rem 0;
}

.ImgCTN-order{
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.imgName{
    height: 5rem;
    font-size: 2.4rem;
    font-weight: bold;
    color: #666666;
}

.imgCAT{
    height: 4rem;
    font-size: 1.6rem;
    color: #666666;
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.orderCNT{
    width: 100%;
    height: 30.5rem;
    background-color: #E8E8E8;
    border-radius: 0.5rem;
}

.innerCTN{
    padding: 1.5rem;
    padding-left: 2rem;
}

.order-title{
    font-size: 1.6rem;
    color: #666666;
    padding-bottom: 1rem;
}

.order-title-blod{
    font-weight: bold;
    padding-right: 0.8rem;
}

.order-title-medium{
    font-weight: 500; 
}

.order-title-padd{
    padding-top: 0.5rem;
    font-weight: 400;
}

.order-date{
    height: 5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.order-price{
    height: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.order-date input{
    width: 18.2rem;
    height: 3rem;
    padding-top: 0.5rem;
    margin-top: -1.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    padding-right: 1rem;
    position: relative;
    top: -0.2rem;
    background-image: url(/static/img/icon_calendar.png);
    transform: scale(1.4);
    transform-origin: center;
}

.order-time{
    width: 28rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    margin-top: -0.5rem;
}

.point-big{
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid #fff;
    border-radius: 100%;
    transform: scale(2.2);
    transform-origin: center;
    background-color: #fff;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    cursor: pointer;
}

.point-big:checked{
    content: "";
    background-color: #448899;
}

.order-btn{
    width: 16rem;
    height: 3.6rem;
    background-color: #448899;
    color: #fff;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.9rem;
    font-weight: 300;
    margin-top: 1.2rem;
}

.att-introduction{
    height: 100%;
    display: flex;
    justify-content: center;
}

.intro-CTN{
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    gap: 2.3rem;
    padding-top: 4.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.intro-explain, .intro-title{
    font-size: 1.6rem;
    color: #666666;
}

.intro-title{
    font-weight: bold;
}

.explain-lineHeight{
    line-height: 1.5;
}

.intro-address, .intro-traffic{
    line-height: 1.8;
}

.intro-address{
    padding-top: 2rem;
}

.traffic-padd{
    padding-bottom: 0.6rem;
}

@media (1200px < width <= 1920px){
    .att-img{
        width: 120rem;
        height: 48rem;
        border-bottom: 1px solid rgba(232, 232, 232);
    }

    .att-introduction{
        width: 120rem;
    }
}

@media (600px < width <= 1200px){
    .att-img{
        width: 100%;
        height: 48rem;
        border-bottom: 1px solid rgb(232, 232, 232);
    }

    .att-introduction{
        width: 100%;
    }
}

@media (360px <= width <= 600px){
    .att-img{
        width: 100%;
        height: 100%;
        border-bottom: 1px solid rgba(232, 232, 232);
    }

    .img-CTN{
        height: 100%;
        padding: 0;
        grid-template-rows:repeat(auto-fit, max-content);
        grid-template-columns: 1fr;
    }

    .imgSlides{
        border-radius: 0;
    }

    .img-width-fat{
        border-radius: 0; 
    }

    .img-width-fat img{
        border-radius: 0;
    }

    .slideBar{
        border-radius: 0;
    }

    .lineleft-radius{
        border-radius: 0;
    }

    .lineright-radius{
        border-radius: 0;
    }

    .ImgCTN-order{
        margin-bottom: 4rem;
        transform: translateX(1rem)
    }

    .orderCNT{
        width: 94%;
    }

    .att-introduction{
        width: 100%;
    }
}