*{
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Noto Sans TC';
}

.Nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Nav-height{
    height: 5.3rem;
}

.Nav-content{
    /* width: 120rem; */
    margin-top: 9px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.Nav-title{
    font-size: 3rem;
    font-weight: bold;
    color: #448899;
    margin-left: 0.7rem;
}

.Nav-btn{
    width: 15%;
    margin-right: 0.5rem;
}

.btn-appearance{
    width: 50%;
    height: 3.2rem;
    border: none;
    background-color: transparent;
    color: #666666;
    font-size: 1.6rem;
    font-weight: 500;
}

.btn-sign{
    width: 50%;
    height: 3.2rem;
    border: none;
    background-color: transparent;
    color: #666666;
    font-size: 1.6rem;
    font-weight: 500;
}

.Sec{
    width: 100%;
    height: 32rem;
    /* 超過設定的高度就截斷 */
    overflow: hidden;
    position: relative;
}

.Sec-img{
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
    /* 與頭部對齊 */
    object-position: top;
    /* 讓圖片靠左 */
    float: left;
    z-index: 1;
}

.Sec-search{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5.3rem;
}

.Sec-engine{
    position: absolute;
    top: 5rem;
} 

.search-text{
    width: 100%;
    color: #fff;
    margin-top: 3.5rem;
    border: none;
    z-index: 2;
}

.search-big{
    font-size: 2.8rem;
    font-weight: bold;
    margin-left: 1.5rem;
}

.search-secStr{
    margin-top: 1.5rem;
}

.search-small{
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 1.5rem;
}

.search-dt{
    /* width: 46rem; */
    width: 38.3%;
    margin-left: 1.6rem;
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 3fr 14fr 2fr;
    position: relative;
    z-index: 2;
}

.dt-select{
    /* width: 10rem; */
    width: 100%;
    height: 4.6rem;
    position: relative;
}

.select-text{
    width: 10rem;
    height: 4.6rem;
    border: none;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: #EEE;
    cursor: pointer;

}

.select-text span{
    position: relative;
    top: -0.1rem;
}

.text-triangle{
    position: relative;
    top: 0.2rem;
}

.dt-droplist{
    width: 30rem;
    position: absolute;
    display: none;
    margin-top: -0.9rem;
    cursor: pointer;
}

.dt-droplist.active{
    display: block;
}

.dt-droplist.invisible{
    display: none;
}

.dt-option{
    list-style: none;
    width: 30rem;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(4.2rem, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    border-radius: 0.5rem;
    background-color: #fff;
    /* 加四邊的陰影 */
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
    margin-top: 1.2rem;
}

.option{
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 500;
    align-items: center;
    /* 讓li文字垂直置中的方法 */
    line-height: 4.2rem; 
    /* 點擊滑鼠的手 */
    cursor: pointer;
}

.option:hover{
    background-color: #EEE;
    border-radius: 0.5rem;
}

.search-input{
    /* width: 100%;  */
    width: 100%;
    height: 4.6rem;
    border: none;
    font-size: 1.6rem;
}

.searchStr{
    text-align: left;
    padding-left: 1.5rem;
    /* 確保不會因為padding，將物件往右邊延伸 */
    box-sizing: border-box;
    color: #757575;
    font-weight: 600;
}

.search-btn{
    width: 6rem;
    height: 4.6rem;
    background-color: #448899;
    border-radius: 0 0.5rem 0.5rem 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.search-btn-icon{
    position: relative;
    top: 0.1rem;
    background-color: transparent !important;
    background: none !important;
    border: none;
    cursor: pointer;
}

.webConent{
    width: 100%;
    display: flex;
    justify-content: center; 
}

.webConent-center{
    width: 120rem;
}

.center-bar{
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-rows: 1fr 13fr 1fr;
    justify-content: center;
}

.listBar{
    width: 100%;
    height: 100%;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 23fr 1fr;
}

.leftBtn{
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    background: none;
    border: none;
    cursor:pointer;
    padding-left: 1.5rem;
}

.rightBtn{
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 1.5rem;
}

.mrt-item{
    width: 100%;
    box-sizing: border-box;
    overflow-x: scroll;
    /* 舊版的瀏覽器要使用此方式 */
    scrollbar-width: none;
    -ms-overflow-style:none;
    white-space: nowrap;
    margin-top: -0.2rem;
    margin-left: -0.3rem;
}

/* 隱藏滾動軸，新版 */
.mrt-item::-webkit-scrollbar{
    display: none;
}

.mrt-container{
    width: 100%;
    height: 5rem;
    list-style: none;
    margin-left: 2.5rem;
    display: flex;
    align-items: center;
    gap: 3.08rem;
    font-weight: 450;
}

.mrt-option{
    font-size: 1.6rem;
    color: #666666;
    cursor: pointer;
}

.center-img{
    width: 120rem;
    margin-top: 7.8rem;
}

.img-fw{
    width: 100%;
}

.noD-content{
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.img-content{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-columns: repeat(auto-fit, 270px);
    gap: 3rem;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
}

.img-block{
    width: 27rem;
    height: 24rem;
    border: 1px solid #d8d8d8;
    border-radius: 0.5rem;
}

.img-title{
    width: 100%;
    height: 20rem;
    position: relative;
    border-radius: 0.3rem 0.3rem 0 0;
}

.img-file{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 0.3rem 0.3rem 0 0;
    z-index: 1;
}

.title-name{
    width: 100%;
    height: 4rem;
    object-fit: cover;
    position: absolute;
    font-size: 1.6rem;
    color: #fff;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.title-name span{
    padding-left: 0.8rem;
    /* 文字垂直置中方式之一 */
    line-height: 3.9rem;
}

.img-info{
    width: 100%;
    height: 4rem;
}

.img-info-fw{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 450;
    color: #666666;
}

.img-info-fw div{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

footer{
    width: 100%;
    height: 10rem;
    background-color: #757575;
    color: #fff;
    margin-top: 5rem;
    font-size: 1.6rem;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (1200px < width <= 1920px){
    body{
        width: 100%;
    }

    .Nav-content{
        width: 120rem;
    }

    .Sec-engine{
        width: 120rem;
    }

}

@media (600px < width <= 1200px){
    body{
        width: 100%;
    }

    .Nav-content{
        width: 100%;
    }

    .Nav-btn{
        width: 20rem;
    }

    .Sec-engine{
        width: 100%;
    }

    .search-dt{
        width: 45rem;
    }

    .webConent-center{
        width: 100%;
    }

    .listBar{
        width: 100%;
    }

    .center-img{
        width: 100%;
    }

    .img-fw{
        width: 100%;
    }

    .img-block{
        width: 27rem;
    }

}

@media (360px <= width <= 600px){
    body{
        width: 100%;
    }

    .Nav-content{
        width: 100%;
    }

    .Nav-btn{
        width: 17rem;
    }

    .Sec-engine{
        width: 100%;
    }

    .search-dt{     
        max-width: 45rem;
        width: 94%;
    }

    .search-btn{
        position: relative;
        right: 0.8rem;
    }

    .webConent-center{
        width: 100%;
    }

    .listBar{
        width: 100%;
    }

    .center-img{
        width: 100%;
    }

     .img-fw{
        width: 100%;
    }

    .img-content{
        grid-template-columns: repeat(auto-fit, 318px);
    }

    .img-block{
        width: 100%;
    }
}